.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;

  &-footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 70px;
  }

  &-item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $white;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    .social-icon-svg {
      fill: $white;
    }
  }
}

.social-icons-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $icon-bg-footer;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    .footer-icons {
      background-color: $accent-color;
    }
  }
}
