html {
  box-sizing: border-box;
}

* *::before *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $grey;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border-color: $whitegrey;
  border-style: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: $white;
  padding-top: 24px;
  padding-bottom: 25px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background: $lightblack;
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  color: $black;
  text-decoration: none;
  font-weight: 500;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.web {
  color: $accent-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.studio {
  color: $white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: calc(100% / 4 - 30px);
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white;
}

.portfolio-body {
  margin: 0;
}
