$black: #212121;
$accent-color: #2196f3;
$grey: #757575;
$white: #ffffff;
$lightblack: #2f303a;
$lightgrey: #e5e5e5;
$whitegrey: #f5f4fa;
$borders-color: #eeeeee;
$contacts-footer: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$icon-bg-footer: #ffffff10;
